<h1>Bookmarks</h1>
<form action="/bookmarks" method="post">
  <input type="text" name="bookmark_url" placeholder="bookmark url">
  <input type="submit" value="Add bookmark">
</form>


<ul>
  <% @bookmarks.each do |bookmark| %>
    <li><%= bookmark %></li>
  <% end %>
</ul>
